{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, ea in iusto omnis et mollitia deserunt
            ipsum,
            saepe asperiores sit excepturi dicta tenetur incidunt delectus eum distinctio tempora, nemo optio!
            Doloremque consequuntur commodi impedit fugiat temporibus maiores nobis aut consequatur voluptates quae odit
            quaerat
            nemo quod totam, iure cum neque inventore quis! Debitis animi voluptatibus magnam optio neque repellat
            distinctio!
            Vitae tempora molestias consequatur temporibus repudiandae, ad laborum pariatur quaerat cumque rem doloribus
            odio
            dolore voluptates totam aliquid nam placeat accusamus, numquam at obcaecati enim cum commodi eaque quod!
            Nulla?
            Adipisci incidunt suscipit nam culpa pariatur dolores ea nisi blanditiis aut, magnam necessitatibus odio
            quae
            tenetur facilis sunt optio quod numquam itaque non dolorem ipsa repellat at fuga! Quae, nobis!
            Nobis, autem ullam ex veritatis cupiditate ut, totam, exercitationem libero eos laudantium harum fugiat
            repudiandae
            nesciunt iure id. Iste quaerat rerum nihil cum facere nesciunt consequatur qui adipisci aliquid non.
            Distinctio vel necessitatibus sequi iure nostrum? Reiciendis dicta, pariatur dolorem aliquid voluptas optio
            fugit,
            suscipit deserunt culpa consequuntur explicabo quis, voluptatem quae accusamus vel minima assumenda error
            voluptates
            sit saepe.
            Esse pariatur sequi expedita soluta dolor repellendus libero excepturi suscipit natus culpa obcaecati
            commodi
            laborum, praesentium consectetur optio labore. Nulla facilis voluptatibus quaerat exercitationem numquam
            libero
            fugiat nam placeat ipsa?
            Placeat facere quis reiciendis quam tempore illum necessitatibus nobis, pariatur, eveniet minus eaque
            aspernatur
            optio dolorem eos omnis ipsum libero veniam reprehenderit, quaerat temporibus dicta nulla! Molestias
            delectus
            cupiditate laudantium?
            Aspernatur explicabo repellendus aut aliquid deserunt! Delectus molestias voluptate quaerat itaque,
            blanditiis
            pariatur necessitatibus dicta esse totam nemo. Esse asperiores omnis repellat necessitatibus corrupti
            cupiditate
            dolorem aliquam temporibus ea quas!
            Provident amet sit mollitia porro! Animi ut minima maxime ad neque quod nam placeat, eius optio quibusdam
            cumque
            temporibus nostrum distinctio perspiciatis exercitationem repellat, praesentium necessitatibus similique
            officia,
            quasi commodi.</p>

        <div class="text-center">

            <a class="btn btn-primary" href="/signin/">
                SIGN IN
            </a>
            <a class="btn btn-primary" href="/signup/">
                SIGN UP
            </a>
        </div>
    </section>
</main>

{% endblock %}